<header class="header">
    <div class="first-column">
        <div class="menu-icon">
            <img src="https://cdn.jsdelivr.net/gh/corover/assets@latest/askdisha-bucket/menu.png" alt="Open-Menu"
                class="btn-menu">
            <img src="https://cdn.jsdelivr.net/gh/corover/assets@latest/askdisha-bucket/home.png" alt="Home"
                class="btn-reset">
        </div>
        <img tabindex="0" class="lady-logo"
            src="https://cdn.jsdelivr.net/gh/corover/assets@18June/askdisha-bucket/disha.svg" alt="Ask Disha Avatar">
        <div tabindex="0" aria-label="Ask Disha 2.0 Heading Title" class="header-text-name">
            <p>Ask</p>
            <h3>DISHA</h3><span>2.0</span>
        </div>

    </div>
    <div class="second-column">
        <div class="irctc-logo">
            <img src="https://cdn.jsdelivr.net/gh/corover/assets@latest/askdisha-bucket/irctc.png" alt="">
        </div>
    </div>
</header>